<div class="ml-2 mt-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="flex gap-x-8 items-baseline">
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput
               [min]="todayDate"
               [matDatepicker]="picker"
               (dateChange)="onDateChange($event.value)"
               formControlName="date"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Time</mat-label>
        <mat-select formControlName="time">
          <mat-option *ngFor="let timeSlot of availableTimeSlots" [value]="timeSlot">{{timeSlot}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-stroked-button
              color="primary"
              class=" transition ease-in-out border-b-2  delay-300 hover:text-neutral-50  duration-600"
              [disabled]="form.invalid"
              [ngClass]=" {'!bg-sky-900 !text-white hover:!border-sky-900': form.valid}"
              type="submit">
        <mat-icon>add</mat-icon>Add Availability
      </button>
    </div>
  </form>
</div>
