<div class="h-full w-full bg-slate-200 flex flex-col">
  <div class="flex justify-end items-center mr-16">
    <cs-platform-toggle>
    </cs-platform-toggle>
    <div class="flex gap-x-10">
      <button mat-mini-fab
              color="primary"
              [matMenuTriggerFor]="menu"
              matTooltip="Add a new coach or student"
              aria-label="Create entity">
        <mat-icon>add</mat-icon>
      </button>

      <button mat-mini-fab
              color="primary"
              matTooltip="Navigate to dashboard homepage"
              [routerLink]="['/'+CoachingSchedulerRoutes.DASHBOARD]"
              aria-label="Create entity">
        <mat-icon>home</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let viewMode of viewModes" (click)="addEntity(viewMode)">
          <mat-icon>{{viewMode.icon}}</mat-icon>
          <span>{{viewMode.entity}}</span>
        </button>

      </mat-menu>
    </div>
  </div>

  <h1 *ngIf="isDashboardRoute"> DASHBOARD</h1>

  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
