
#Backend
backend/.env
backend/node_modules/
backend/dist/

#Frontend
frontend/node_modules/
frontend/dist/


#General
*/node_modules/
*/.env
*/.vscode
*/.editorconfig
*/dist/
*/.angular
*/.idea
.idea
