<div *ngIf="coach" class="flex flex-col w-full">
  <span class="text-2xl font-bold mb-4 text-sky-900">
    Welcome back, {{coach.name}}
  </span>
  <p class="text-lg">
    Effortlessly set your availability or take control of your upcoming and past schedule.
  </p>

  <div class="flex flex-col justify-between mt-8">
    <span class="flex text-xl text-sky-900 font-semibold">Choose your availability</span>

    <div class="flex place-items-center my-4 gap-x-2">
      <mat-icon>hourglass_empty</mat-icon>
      <span class="text-base">Lessons are available from 8:00 AM to 9:30 PM, with the latest starting at 7:30 PM. Each lesson has a duration of 2 hours.</span>
    </div>

    <div class="flex flex-row justify-between items-center">
      <cs-coach-availability
        [coach]="coach"
        (availabilityUpdated)="onSlotsUpdated($event)"
      ></cs-coach-availability>

      <div class="example-button-container">
        <button mat-stroked-button
                matTooltip="View your lesson history"
                matTooltipPosition="above"
                color="primary" (click)="navigateToLessonHistory()">
          <mat-icon>history</mat-icon>
          History
        </button>
      </div>
    </div>
  </div>

  <div class="border-b-2 border-stone-300 my-8"></div>
  <div class="flex w-full gap-x-8 mt-4">
    <div class="flex w-full flex-col overflow-y-auto">

      <ng-container
        *ngTemplateOutlet="statusSectionTemplate;
        context: { slots: coach.slots | filterStatusGroupByDate: SlotStatus.Available , title: 'Available', description: 'Your current available time slots.' }">
      </ng-container>
    </div>

    <div class="flex w-full gap-x-4">
      <mat-accordion class="w-full">
        <ng-container
          *ngTemplateOutlet="statusSectionTemplate;
          context: { slots: coach.slots | filterStatusGroupByDate: SlotStatus.Booked, title: 'Booked', description: 'Slots booked by student, pending confirmation.', action: actionMappings.confirm }">
        </ng-container>
      </mat-accordion>
    </div>

    <div class="flex w-full gap-x-4">
      <mat-accordion class="w-full">
        <ng-container
          *ngTemplateOutlet="statusSectionTemplate;
          context: { slots: coach.slots | filterStatusGroupByDate: SlotStatus.Scheduled , title: 'Scheduled', description: 'Current scheduled lessons.', action: actionMappings['simulate-lesson'] }">
        </ng-container>
      </mat-accordion>
    </div>

  </div>
</div>

<ng-template #statusSectionTemplate let-groups="slots" let-title="title" let-description="description" let-action="action">
  <div class="flex flex-col p-2 pb-0 bg-gray-100 rounded-t-md mb-2">
    <h2 class="flex items-center text-lg text-sky-900 font-semibold">
      {{ title }}
    </h2>
    <span class="text-base -mt-2">{{description}}</span>
  </div>
  <div class="overflow-y-auto">

    <div class="max-h-[400px]">
      <div class="p-2">
        <mat-expansion-panel *ngFor="let group of groups" class="!my-3 !rounded-xl">
          <mat-expansion-panel-header class="!bg-slate-0 border-gray-200">
            <mat-panel-title>
              <div class="flex items-center">
                <div class="mr-4 text-gray-600">
                  {{ group.date | date: 'EEEE, d MMMM' }}
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex items-center justify-between mt-2 px-2 min-h-[70px] rounded-xl hover:bg-stone-100"
               *ngFor="let slot of group.slots">
            <div class="text-gray-500 text-sm ml-2">
              {{ slot.startTime | date: 'h:mm a' : 'UTC' }} - {{ slot.endTime | date: 'h:mm a' : 'UTC' }}
            </div>
            <mat-action-row *ngIf="action" class="!border-hidden">
              <button mat-stroked-button
                      (click)="executeAction(action, slot)"
                      color="primary"
                      class="transition ease-in-out delay-300"
              >
                {{action.title}}
              </button>
            </mat-action-row>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</ng-template>
