<div *ngIf="coach" class="flex flex-col w-full">
  <span class="text-3xl font-bold mb-4 text-sky-900">
    Welcome back, {{coach.name}}
  </span>
  <p class="text-lg">
    Take control of your past and upcoming schedule or effortlessly set your availability.
  </p>

  <div class="flex flex-col justify-between mt-8">
    <h2 class="flex text-lg text-sky-900 font-semibold">Choose your availability</h2>
    <cs-coach-availability
      [coach]="coach"
      (availabilityUpdated)="onSlotsUpdated($event)"
    ></cs-coach-availability>
  </div>

  <div class="border-b-2 border-stone-300 my-8"></div>


  <div class="flex w-full gap-x-8 mt-4">

    <div class="flex w-full flex-col overflow-y-auto">

      <ng-container
        *ngTemplateOutlet="statusSectionTemplate;
        context: { slots: coach.slots | filterStatusGroupByDate: SlotStatus.Available , title: 'Available', tooltip: 'Your current available time slots' }">
      </ng-container>

      <!-- <div class="text-grey-500 italic cursor-pointer hover:text-blue-700" (click)="showPastLessons = !showPastLessons">
         {{ showPastLessons ? 'Hide past lessons...' : 'Show past lessons...' }}
       </div>-->

      <ng-container *ngIf="showPastLessons">
        <ng-container
          *ngTemplateOutlet="statusSectionTemplate;
          context: { slots: coach.slots | filterStatusGroupByDate: SlotStatus.Past , title: 'Past Lessons', tooltip: 'Your current available time slots' }">
        </ng-container>
      </ng-container>
    </div>

    <div class="flex w-full gap-x-4">
      <mat-accordion class="w-full">


        <ng-container
          *ngTemplateOutlet="statusSectionTemplate;
          context: { slots: coach.slots | filterStatusGroupByDate: SlotStatus.Booked , title: 'Booked by Students', tooltip: 'Slots booked by student, pending confirmation.' }">
        </ng-container>

        <div class="border-b-2 border-blue-200 my-4"></div>

        <ng-container
          *ngTemplateOutlet="statusSectionTemplate;
          context: { slots: coach.slots | filterStatusGroupByDate: SlotStatus.Scheduled , title: 'Scheduled', tooltip: 'Current scheduled lessons.' }">

        </ng-container>

      </mat-accordion>
    </div>

  </div>
</div>


<ng-template #statusSectionTemplate let-groups="slots" let-title="title" let-tooltip="tooltip">


  <div class="flex p-2 pb-0 bg-gray-100 rounded-t-md">
    <h2 class="flex items-center text-lg text-sky-900 font-semibold">
      {{ title }}
      <mat-icon class="ml-2 cursor-help" matTooltip="{{tooltip}}">info_outline</mat-icon>
    </h2>
  </div>
  <div class="overflow-y-auto">


    <div class="max-h-[600px]">

      <div class="p-2">
        <mat-expansion-panel *ngFor="let group of groups" class="!my-3 !rounded-xl">
          <mat-expansion-panel-header class="!bg-slate-0 border-gray-200">
            <mat-panel-title>
              <div class="flex items-center">
                <div class="mr-4 text-gray-600">
                  {{ group.date | date: 'EEEE, d MMMM' }}
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex items-center justify-between mt-2 rounded-xl	hover:bg-gray-100" *ngFor="let slot of group.slots">

            <div class="text-gray-500 text-sm ml-2">
              {{ slot.startTime | date: 'h:mm a' }} - {{ slot.endTime | date: 'h:mm a' }}
            </div>
            <mat-action-row class="!border-hidden">
              <button mat-stroked-button
                      color="primary"
                      class="transition ease-in-out delay-300 hover:text-neutral-50 hover:!border-sky-900 duration-600">More Info</button>
            </mat-action-row>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</ng-template>
